#heading{
    text-align: center;
    padding: 0px;
    font-size: xx-large;
}
#main{
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    border: 4px solid;
    border-radius: 15px;
    border-color: rgb(70, 68, 68);
    padding: 15px 10px;
    background-color: gray;
}

#but{
    color:#1B1212;
    font-family:fantasy;
    font-size: smaller;
    letter-spacing: 2px;
    background-color:white;
    border: 2px solid;
    border-radius: 8px;
    border-color: black;
    height: 35px;
    width: 100%;
    cursor: pointer;
}
#row1{
    padding:10px 20px;
    margin: 0px 3px;
    background: white;
    border: 2px solid;
    border-radius: 5px;
    font-size: x-large;
    cursor: pointer;
}
#row2{
    padding:10px 20px;
    margin: 0px 10px;
    background: white;
    border: 2px solid;
    border-radius: 5px;
    font-size: larger;
    cursor: pointer;
}
#row3{
    padding:10px 20px;
    margin: 0px 10px;
    background: white;
    border: 2px solid;
    border-radius: 5px;
    font-size: larger;
    cursor: pointer;
}
#output{
    text-align: right;
    font-size: large;
    width: 90%;
    border: 2px solid;
    border-radius: 5px;
    margin-top: 10px;
}
